{% extends "frontendTemplates/layouts/frame-home.html" %}

{% block title %} buffer_hub {% endblock %}

{% block main-content %}


{% load static %}

{% if user.is_authenticated %}

<section id="section-banner">
    <img src='{% static "./images/orange-blue-wave.jpg" %}' alt="">
</section>

<section id="section-song">
    <div class="songs">
        <div class="container">
            <div class="row mb-5">
                <div class="col-10 m-auto">
                    <h1>Looking for Easy Classes?</h1>
                    <h3>
                        Check out these
                    </h3>
                    <a href="{% url 'player-index' %}" class="button-webPlay">Launch Web Player</a>
                </div>
            </div>


            <div class="row cstm-mar">

                
            </div>
            





        </div>
    </div>
</section>

{% else %}

<section id="section-guest">
    <div class="guest">
        <div class="container">
            <div class="guest-content">
                <h2>Helping Students Earn High Grades</h2>
                <p>Join to become part of something great</p>
                <a href="#">sign up here</a>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}
