<div class="col-3">
                    <div class="section-menu">

                        <ul class="section-menu-nav">
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-index' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-home"></i>
                                    </span>
                                    Account overview
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-edit' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                    Edit profile
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-edit-pass' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    Change password
                                </a>
                            </li>

                            <li class="section-menu-nav-item">
                                <a href ="{% url 'sct-index-user' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-glasses"></i>
                                    </span>
                                    Manage Courses
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-course-insert' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-book-dead"></i>
                                    </span>
                                    Insert User Courses
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-sql-search' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-school"></i>
                                    </span>
                                    Gen-Ed Search
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-course-search' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-book-open"></i>
                                    </span>
                                    Course Catalog
                                </a>
                            </li>
                            <li class="section-menu-nav-item">
                                <a href="{% url 'account-sql-search' %}" class="d-block section-menu-nav-link">
                                    <span>
                                        <i class="fas fa-graduation-cap"></i>
                                    </span>
                                    Grad Requirements
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>