
{% extends "frontendTemplates/layouts/frame-account.html" %}

{% block title %} buffer_hub | Account Edit Profile {% endblock %}

{% block main-content %}

<link rel="stylesheet" href="main.css">
{% load static %}

<script src="{% static 'hide_funct.js' %}"></script>   


<div class="col-9">
    <div class="section-content">
        <h3>Course Catalog Search</h3>

{% if messages %}
<div class="alert alert-danger" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


        <form action="{% url 'search-course-post' %}" id="editForm" class="form-account form" method="post">

        	{% csrf_token %}





            <div class="form-group">
                <label for="inputState__">Subject</label>
                <div class="form-input-bg">
                        <select id="subject"  class="form-control" name="subject">
                            <option value="AAS">AAS</option>
                            <option value="ABE">ABE</option>
                            <option value="ACCY">ACCY</option>
                            <option value="ACE">ACE</option>
                            <option value="ACES">ACES</option>
                            <option value="ADV">ADV</option>
                            <option value="AE">AE</option>
                            <option value="AFRO">AFRO</option>
                            <option value="AFST">AFST</option>
                            <option value="AGCM">AGCM</option>
                            <option value="AGED">AGED</option>
                            <option value="AHS">AHS</option>
                            <option value="AIS">AIS</option>
                            <option value="ANSC">ANSC</option>
                            <option value="ANTH">ANTH</option>
                            <option value="ARAB">ARAB</option>
                            <option value="ARCH">ARCH</option>
                            <option value="ART">ART</option>
                            <option value="ARTD">ARTD</option>
                            <option value="ARTE">ARTE</option>
                            <option value="ARTF">ARTF</option>
                            <option value="ARTH">ARTH</option>
                            <option value="ARTS">ARTS</option>
                            <option value="ASRM">ASRM</option>
                            <option value="ASTR">ASTR</option>
                            <option value="ATMS">ATMS</option>
                            <option value="AVI">AVI</option>
                            <option value="BADM">BADM</option>
                            <option value="BCS">BCS</option>
                            <option value="BIOC">BIOC</option>
                            <option value="BIOE">BIOE</option>
                            <option value="BIOP">BIOP</option>
                            <option value="BTW">BTW</option>
                            <option value="BUS">BUS</option>
                            <option value="CB">CB</option>
                            <option value="CEE">CEE</option>
                            <option value="CHBE">CHBE</option>
                            <option value="CHEM">CHEM</option>
                            <option value="CHIN">CHIN</option>
                            <option value="CHLH">CHLH</option>
                            <option value="CHP">CHP</option>
                            <option value="CI">CI</option>
                            <option value="CINE">CINE</option>
                            <option value="CLCV">CLCV</option>
                            <option value="CMN">CMN</option>
                            <option value="CPSC">CPSC</option>
                            <option value="CS">CS</option>
                            <option value="CW">CW</option>
                            <option value="CWL">CWL</option>
                            <option value="DANC">DANC</option>
                            <option value="EALC">EALC</option>
                            <option value="ECE">ECE</option>
                            <option value="ECON">ECON</option>
                            <option value="EDUC">EDUC</option>
                            <option value="EIL">EIL</option>
                            <option value="ENG">ENG</option>
                            <option value="ENGL">ENGL</option>
                            <option value="ENSU">ENSU</option>
                            <option value="ENVS">ENVS</option>
                            <option value="EOL">EOL</option>
                            <option value="EPOL">EPOL</option>
                            <option value="EPS">EPS</option>
                            <option value="EPSY">EPSY</option>
                            <option value="ESE">ESE</option>
                            <option value="ESL">ESL</option>
                            <option value="EURO">EURO</option>
                            <option value="FAA">FAA</option>
                            <option value="FIN">FIN</option>
                            <option value="FR">FR</option>
                            <option value="FSHN">FSHN</option>
                            <option value="GCL">GCL</option>
                            <option value="GE">GE</option>
                            <option value="GEOG">GEOG</option>
                            <option value="GEOL">GEOL</option>
                            <option value="GER">GER</option>
                            <option value="GLBL">GLBL</option>
                            <option value="GRKM">GRKM</option>
                            <option value="GS">GS</option>
                            <option value="GWS">GWS</option>
                            <option value="HDFS">HDFS</option>
                            <option value="HIST">HIST</option>
                            <option value="HNDI">HNDI</option>
                            <option value="HORT">HORT</option>
                            <option value="HRD">HRD</option>
                            <option value="HRE">HRE</option>
                            <option value="IB">IB</option>
                            <option value="IE">IE</option>
                            <option value="IHLT">IHLT</option>
                            <option value="INFO">INFO</option>
                            <option value="IS">IS</option>
                            <option value="ITAL">ITAL</option>
                            <option value="JAPN">JAPN</option>
                            <option value="JOUR">JOUR</option>
                            <option value="JS">JS</option>
                            <option value="KIN">KIN</option>
                            <option value="KOR">KOR</option>
                            <option value="LA">LA</option>
                            <option value="LAS">LAS</option>
                            <option value="LAST">LAST</option>
                            <option value="LAT">LAT</option>
                            <option value="LAW">LAW</option>
                            <option value="LER">LER</option>
                            <option value="LING">LING</option>
                            <option value="LLS">LLS</option>
                            <option value="MACS">MACS</option>
                            <option value="MATH">MATH</option>
                            <option value="MBA">MBA</option>
                            <option value="MCB">MCB</option>
                            <option value="MDIA">MDIA</option>
                            <option value="ME">ME</option>
                            <option value="MILS">MILS</option>
                            <option value="MS">MS</option>
                            <option value="MSE">MSE</option>
                            <option value="MUS">MUS</option>
                            <option value="MUSE">MUSE</option>
                            <option value="NPRE">NPRE</option>
                            <option value="NRES">NRES</option>
                            <option value="NS">NS</option>
                            <option value="NUTR">NUTR</option>
                            <option value="PATH">PATH</option>
                            <option value="PHIL">PHIL</option>
                            <option value="PHYS">PHYS</option>
                            <option value="PLPA">PLPA</option>
                            <option value="POL">POL</option>
                            <option value="PORT">PORT</option>
                            <option value="PS">PS</option>
                            <option value="PSM">PSM</option>
                            <option value="PSYC">PSYC</option>
                            <option value="REES">REES</option>
                            <option value="REHB">REHB</option>
                            <option value="REL">REL</option>
                            <option value="RHET">RHET</option>
                            <option value="RLST">RLST</option>
                            <option value="RSOC">RSOC</option>
                            <option value="RST">RST</option>
                            <option value="RUSS">RUSS</option>
                            <option value="SAME">SAME</option>
                            <option value="SBC">SBC</option>
                            <option value="SCAN">SCAN</option>
                            <option value="SCR">SCR</option>
                            <option value="SE">SE</option>
                            <option value="SHS">SHS</option>
                            <option value="SLAV">SLAV</option>
                            <option value="SLCL">SLCL</option>
                            <option value="SOC">SOC</option>
                            <option value="SOCW">SOCW</option>
                            <option value="SPAN">SPAN</option>
                            <option value="SPED">SPED</option>
                            <option value="STAT">STAT</option>
                            <option value="SWAH">SWAH</option>
                            <option value="TAM">TAM</option>
                            <option value="TE">TE</option>
                            <option value="THEA">THEA</option>
                            <option value="TRST">TRST</option>
                            <option value="TSM">TSM</option>
                            <option value="UKR">UKR</option>
                            <option value="UP">UP</option>
                            <option value="VB">VB</option>
                            <option value="VCM">VCM</option>
                            <option value="VM">VM</option>
                            <option value="YDSH">YDSH</option>                            
                            </select>
                </div>

            </div>
            <div class="form-group">
                <label for="gpa_wanted_insert">GPA Greater Than</label>
                <div class="form-input-bg">
                    <input type="text" name="gpa_wanted" class="form-control" id="gpa_gt" value="0.0">
                </div>
            </div>
            <div class="form-group">
                <label for="inputState__">Sort By</label>
                <div class="form-input-bg">
                        <select id="order_by_selection" class="form-control" name="order_by_selection">
                            <option value="AVG_GPA_DESC">AVG GPA DESC</option>
                            <option value="AVG_GPA_ASC">AVG GPA ASC</option>
                            <option value="NUMBER_DESC">NUMBER DESC</option>
                            <option value="NUMBER_ASC">NUMBER ASC</option>                          
                            </select>
                </div>

            </div>
            <label for="inputState__">Course Number</label>
                <table>
                <tr>
                <td>
                    <div class="form-input-bg">
                <select name="one" id="range_selector" class="form-control" onchange="if (this.value!='Single'){this.form['Single'].style.visibility='visible'}else {this.form['Single'].style.visibility='hidden'};">
                    <option value="Single"selected="selected">Single</option>
                    <option value="Range" >Range</option>
                </select>
                </div>
                <div class="form-input-bg">
                    <input type="text" name="first_number" class="form-control" id="first_number" value="100">
                </div>
                <div class="form-input-bg">
                    <input type="text" style="visibility:hidden" name="Single" class="form-control" id="second_number" value="400">
                </div>    
            </td>
                </tr>
                </table>
                <div class="text-right">
                    <button type="submit" class="button">Search</button>
                </div>
        </form>
        
    </div>
</div>
<!-- 
<script>
    function course_search() {
        var values = {};
        values['Subject'] = document.getElementById("subject").value;
        values['range_Sel'] = document.getElementById("range_selector").value;
        values['GPA_GTE'] = document.getElementById("gpa_gt").value;
        values['Sort_By'] = document.getElementById("order_by_selection").value;
        values['num_lower'] = document.getElementById("first_number").value;
        values['num_upper'] = document.getElementById("second_number").value;

        $.post("/search-course/",
        values,
        function(data, status){
            window.location.href = "/account/";
        });
    }
</script> -->


{% endblock %}