
{% extends "frontendTemplates/layouts/frame-account.html" %}

{% block title %} buffer_hub | Account Overview {% endblock %}

{% block main-content %}

{% if user.is_authenticated %}
<div class="col-9">
    <div class="section-content">
        <h3>Account Overview</h3>
        
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        <form id="editForm" class="form-account form">

            <div class="form-group">
                <label for="inputState__">Account Name</label>
                <div class="form-input-bg">
                    <input type="text" class="form-control" id="email_Id" value="{{usr.name}}" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail4">Email</label>
                <div class="form-input-bg">
                    <input type="text" class="form-control" id="inputEmail4" value="{{usr.email}}" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="inputState__">Gender</label>
                <div class="form-input-bg">
                    <input type="text" class="form-control" id="inputEmail4" value="{{usr.usr_gender}}" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword4">Mobile</label>
                <div class="form-input-bg">
                    <input type="text" class="form-control" id="inputPassword4" value="{{usr.usr_phone}}" readonly>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    window.onload = function(){
        var values = {};
        $.get("/get-user-info/",
        function(data, status){
            document.getElementById("email_Id").value = data['data']['email_Id']
        });
    };
</script>

{% endif %}

{% endblock %}