{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width ,  initial-scale=1.0" name="viewport">
    <!-- CSS Libraries -->
    <link href='{% static "./css/bootstrap.min.css" %}' rel="stylesheet">

    <link href='{% static "./css/fontawesome.all.min.css" %}' rel="stylesheet">

    <link href='{% static "./css/main.css" %}' rel="stylesheet">
    <title>
        {% block title %} buffer_hub | Account {% endblock %}
    </title>
</head>
<body>
    {% include "frontendTemplates/layouts/navbar-account.html" %}


{% block main-section %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="main-section">
							<h2 class="content-heading">Course List</h2>
                        

                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                <th scope="col">SL No</th>
                                <th scope="col">course_comb</th>
                                <th scope="col">course_title</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for row in data %}
                                <tr>
                                <td bgcolor="#13294b">{{ forloop.counter }}</td>
                                <td bgcolor="#E84A27">{{ row.course_comb }}</td>
                                <td bgcolor="#13294b">{{ row.course_title }}</td>
                                <td bgcolor="#E84A27"></td>

                                </tr>

							{% endfor %}

                            </tbody>
                            </table>

							

						</div>
					</div>
				</div>
			</div>


{% endblock %}
</body>
