{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width ,  initial-scale=1.0" name="viewport">
    <!-- CSS Libraries -->
    <link href='{% static "./css/bootstrap.min.css" %}' rel="stylesheet">

    <link href='{% static "./css/fontawesome.all.min.css" %}' rel="stylesheet">

    <link href='{% static "./css/main.css" %}' rel="stylesheet">
    <title>
        {% block title %} buffer_hub | Account {% endblock %}
    </title>
</head>
<body>
    {% include "frontendTemplates/layouts/navbar-account.html" %}


{% block main-section %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="main-section">
							<h2 class="content-heading">Course List</h2>
                        

                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                <th scope="col">Entry Number</th>
                                <th scope="col">Course Number</th>
                                <th scope="col">GPA Hours</th>
                                <th scope="col">Letter Grade</th>
                                <th scope="col">Functions</th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for row in data %}
                                <tr>
                                <td bgcolor="#13294b">{{ forloop.counter }}</td>
                                <td bgcolor="#E84A27">{{ row.course_comb }}</td>
                                <td bgcolor="#13294b">{{ row.gpa_hours }}</td>
                                <td bgcolor="#E84A27">{{ row.letter_grade }}</td>
                                <td bgcolor="#13294b"><a href=""><span class="badge badge-info">Edit</span></a>
                                    &nbsp;&nbsp;
                                    <a href="{% url 'sct-delete' id=row.field_id %}"><span class="badge badge-danger">Delete</span></a></td>
                                </tr>

							{% endfor %}

                            </tbody>
                            </table>

							

						</div>
					</div>
				</div>
			</div>


{% endblock %}
</body>
