    	<nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'dashboard' %}"><h3>buffer_hub Dashboard</h3></a>
            </div>

            <ul class="list-unstyled components">
                <p>Welcome Admin&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></p>
             
				<li>
                    <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i> Users</a>
                    <ul class="collapse list-unstyled" id="usersSubmenu">
                        <li>
                            <a href="{% url 'user-index' %}">View Users</a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#homepageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-home"></i>&nbsp;&nbsp;Homepage</a>
                    <ul class="collapse list-unstyled" id="homepageSubmenu">
                        <li>
                            <a href="{% url 'homepage-index' %}">Manage Homepage</a>
                        </li>
                    </ul>
                </li>
				<li>
                    <a href="#gpa_tableSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i> GPA_Table</a>
                    <ul class="collapse list-unstyled" id="gpa_tableSubmenu">
                        <li>
                            <a href="{% url 'gpa_table-index' %}">View Index</a>
                        </li>
                        <li>
                            <a href="{% url 'gpa_table-add' %}">Add Value</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#gen_edSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i> Gen_Ed</a>
                    <ul class="collapse list-unstyled" id="gen_edSubmenu">
                        <li>
                            <a href="{% url 'gen_ed-index' %}">View Index</a>
                        </li>
                        <li>
                            <a href="{% url 'gen_ed-add' %}">Add Value</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#student_miscSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i> Student Misc</a>
                    <ul class="collapse list-unstyled" id="student_miscSubmenu">
                        <li>
                            <a href="{% url 'student_misc-index' %}">View Index</a>
                        </li>
                        <li>
                            <a href="{% url 'student_misc-add' %}">Add Value</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#sctSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i> Student Courses</a>
                    <ul class="collapse list-unstyled" id="sctSubmenu">
                        <li>
                            <a href="{% url 'sct-index' %}">View Index</a>
                        </li>
                        <li>
                            <a href="{% url 'sct-add' %}">Add Value</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="triggerModal();"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
                </li>
            </ul>

        </nav>